header{
    background-color: "orange";
    font-family: 'Lucida Sans';
    color: "skyblue";
}

p{
	text-align: center;
    font-size: 150%;
    color: blueviolet;
    font-family: 'Gill Sans';
	background-color: 'grey';
}

h3{
    font-size: 180%;
}

footer{
	color:
}